/* login page css */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    position: relative;
}

.form{
    color: white;
    font-family: Roboto;
    z-index: 10;
    width: 21%;
    height: auto;
}

.lable{
    font-family: Poppins;
    display: inline-block;
    margin-bottom: 2.5px;
    color: #FFFFFF;
    font-size: 13px;
}
.inputField{
    width: 100%;
    padding: 8px;
    margin-bottom: 18px;
    border: 1px solid #aba4a4;
    border-radius: 10px;
    background-color: #121212;
    color: white;
    font-family: Roboto;
    font-size: 15px;
}
.buttons{
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: none;
    background-color: #1A5FFF;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    position: relative;
}

.buttons:active {
  transform: scale(0.97);
}


.gImgBg{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: rgb(211, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gImgFront{
    height: 22px;
}

.triangeImg, .triangeImgTwo, .bottomSemiCircle, .rightSemiCircle, .backArrowImg{
    position: absolute;
   }

.triangeImg{
    left: 8%;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1; 
    height: 150px;
}
.triangeImgTwo{
    left: 7%;
    top: 52%; 
    transform: translateY(-50%);
    z-index: 0; 
    height: 150px;
}
.bottomSemiCircle{
    bottom: 0; 
    left: 67%;
    transform: translateX(-50%); 
    z-index: 1; 
    height: 90px;
}
.rightSemiCircle{
    right: 0; 
    top: 30%; 
    transform: translateY(-50%);
    z-index: 1; 
    height: 150px;
}

.backArrowImg{
    left: 25px; 
    top: 7%; 
    transform: translateY(-50%);
    z-index: 1; 
    height: 18px;
}


/* mobile screens */
@media screen and (max-width: 375px) {
    .form{
        width: 70%;
    }
    .triangeImg{
        left: 4%;
        top: 54%; 
        height: 100px;
    }
    .triangeImgTwo{
        left: 1%;
        top: 56%;        
        height: 100px;
    }
    .rightSemiCircle{
        height: 100px;
    }
    .bottomSemiCircle{
        height: 70px;
    }

}

/* laptop screens */
@media (min-width: 376px) and (max-width: 765px) {
     .form{
        width: 70%;
    }
    .triangeImg{
        left: 4%;
        top: 54%; 
    }
    .triangeImgTwo{
        left: 1%;
        top: 56%;        
    }
}
